doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
   
    title Farm Bot 2000
  body
    .header
      h1.page-title Console

    
    .main-content
      block content

    .footer
      p Copyright © 2020 

